<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.casade25_POS_CasaFrenosConnectionString"
            connectionString="server=162.241.60.14;user id=casade25_admin;password=Casafrenos2021;persistsecurityinfo=True;database=casade25_POS_CasaFrenos"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>